# Default ignored files
/.idea/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/.idea/httpRequests/
# Datasource local storage ignored files
/.idea/dataSources/
/.idea/dataSources.local.xml

*.db
*.ini
*.txt
/__pycache__
.idea/.name
.idea/Korea-notice.iml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
FiddlerRoot.pem
notice_test.db-journal
.idea/vcs.xml
